# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
venv/
env/
*.env

# IDE and OS files
.vscode/
.idea/
.DS_Store

# Environment variables
.env
*.env.*

# Notebook checkpoint files
.ipynb_checkpoints